In [2]:
import pandas as pd

df = pd.read_csv('cleaned_data.csv')

In [3]:
df

       Unnamed: 0                                           embedded  label
0               0  [-5.96681118e-01  4.11902845e-01 -3.08486857e-...      1
1               1  [-6.81407630e-01  4.91403908e-01 -1.21448785e-...      1
2               2  [-5.65098464e-01  5.53117573e-01 -3.84215899e-...      1
3               3  [-3.87674928e-01  2.98460498e-02  2.36579791e-...      1
4               4  [-3.86169583e-01  3.35951298e-01 -1.87801272e-...      1
...           ...                                                ...    ...
11610       11610  [-8.07900906e-01  3.43788892e-01  8.81809518e-...      0
11611       11611  [-9.04891670e-01  2.89417118e-01 -2.94612855e-...      0
11612       11612  [-6.90551698e-01  1.35520011e-01 -2.52938084e-...      0
11613       11613  [-7.32276261e-01  5.08924425e-01 -2.66482718e-...      0
11614       11614  [-7.33249187e-01  6.68394983e-01 -2.37192623e-...      0

[11615 rows x 3 columns]

In [4]:
df = df.drop('Unnamed: 0', axis=1)

In [5]:
df

                                                embedded  label
0      [-5.96681118e-01  4.11902845e-01 -3.08486857e-...      1
1      [-6.81407630e-01  4.91403908e-01 -1.21448785e-...      1
2      [-5.65098464e-01  5.53117573e-01 -3.84215899e-...      1
3      [-3.87674928e-01  2.98460498e-02  2.36579791e-...      1
4      [-3.86169583e-01  3.35951298e-01 -1.87801272e-...      1
...                                                  ...    ...
11610  [-8.07900906e-01  3.43788892e-01  8.81809518e-...      0
11611  [-9.04891670e-01  2.89417118e-01 -2.94612855e-...      0
11612  [-6.90551698e-01  1.35520011e-01 -2.52938084e-...      0
11613  [-7.32276261e-01  5.08924425e-01 -2.66482718e-...      0
11614  [-7.33249187e-01  6.68394983e-01 -2.37192623e-...      0

[11615 rows x 2 columns]

In [6]:
df['label'].value_counts()

label
1    5828
0    5787
Name: count, dtype: int64

# Model Development

## Logistic Regression

## SVM

## Decision Tree

## Naive Bayes

## Neural Networks

## Bagging - with top 3 performing models

## Boosting - Gradient Boosting

# ROC Curve Analysis

## Graphing

## Analyzing

# Evaluation Functions

## Confusion Matrix

## F-1 Precision Recall